# npm debug & logs
*.log

# dependencies
node_modules/

# temporary files
*.tmp
*~

# distribution files
dist/

# sourcemap files
*.map

# vscode settings
.vscode/

# test coverages
coverage/

# environmental variables
.env